@font-face {
    font-family: "EuroCaps";
    src: url('../res/EUROCAPS.TTF');
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* Font Settings */
  font-family: "EuroCaps";
  color: var(--orange);
  font-size: 1.5vw;
  text-shadow: 0 0 0.07vw var(--orange);

  padding: 0;
  margin: 0;
  width: 100%;
  height: 91vh;
  background: #000000;

  overflow-x: hidden;
}

body.stripes {
  background: repeating-linear-gradient(#000000 0px, var(--stripe-color) 0.3vw, #000000 0.6vw); /*751c00*/
}

/* For fading out towards the sides */
body.stripes:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
}


nav {
  margin: 0;
  padding: 0;
  font-size: 1.60vw; /* 25px */
  font-weight: bold;
  text-shadow: 0 0 0.1vw var(--orange);
  height: 2vw;

  /* Fixed */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%
}

nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}

nav ul li {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* 30px */
  list-style-type: none;
}

nav ul li.router-link-active {
  color: #000000;
  text-shadow: 0 0 0.1vw #000;
  background: var(--orange);
}

div.content {
  width: 100vw;
  height: 92vh;

  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track-piece {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, var(--orange) 40%, var(--orange) 60%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--orange) 20%, var(--orange) 80%, rgba(0, 0, 0, 0) 100%);
}

/* Remove link styles */
nav ul li a {
  color: var(--orange);
  text-decoration: none;
}

nav ul li.router-link-active a {
  color: #000000;
}

hr {
  border: 0;
  margin-bottom: 3px;
  margin-top: 3px;
  height: 1px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--orange) 33%, var(--orange) 66%, rgba(0, 0, 0, 0));
}

hr.thick {
  height: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--orange) 33%, var(--orange) 66%, rgba(0, 0, 0, 0));
}

div.content {
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

/*********
 *OVERLAY*
 *********/

div.overlay {
  position: fixed;
  left: 50vw;
  top: 20vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--overlay-bg) 50%, rgba(0, 0, 0, 0));
  transform: translate(-50%, -50%);

  color: var(--blue);
  text-shadow: 0 0 0.1vw var(--blue);

  pointer-events: none;

  /* BORDERS */
  border-top: 2px var(--orange) solid;
  border-bottom: 2px var(--orange) solid;

  /* FADING */
  transition: opacity 3s;
  opacity: 0;
}

div.overlay.visible {
  transition: opacity 0.2s;
  opacity: 1;
}

/****************
 *INPUT ELEMENTS*
 ****************/

/* Button */

input[type=button] {
  border: 0;
  padding: 0.5vw 1vw;
  background-color: var(--orange);
  font-family: "EuroCaps";
  font-size: 1.6vw;
  font-weight: bold;
  cursor: pointer;
}

input[type=button]:focus {
  outline: 0;
  background-color: var(--button-focus);
}

input[type=button]:hover {
  background-color: var(--button-focus);
}

input[type=button]:active {
  background-color: var(--button-active);
}

/******
 *LIST*
 ******/

div.content ul {
  list-style-type: none;
  padding-left: 0;
}

div.content ul li {
  font-size: 1.6vw;
  text-shadow: 0 0 0.1vw var(--orange);
  background: var(--list-bg);/*rgba(156, 51, 0, 0.52);*/
  box-shadow: 0 0 0.5vw var(--list-bg);
  margin-top: 0.8vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  cursor: pointer;
}

div.content ul li:hover, div.content ul li.hovered {
  background: var(--list-bg-hover);
  box-shadow: 0 0 0.5vw var(--list-bg-hover);
}

div.content ul li:active {
  background: var(--list-bg-active);
  box-shadow: 0 0 1vw var(--list-bg-active);
}

div.content ul li.selected {
  background: var(--orange);
  color: #000000;
  text-shadow: 0 0 0.1vw #000;
  box-shadow: 0 0 1vw var(--orange);
}

/*******
 *OTHER*
 *******/

div.vertical-separator {
  width: 1px;
  height: 100%;
  background-color: var(--orange);
  box-shadow: 0 0 0.5vw var(--orange);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

h1 {
  text-shadow: 0 0 0.14vw var(--orange);
}
